@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&family=Montserrat:wght@100&display=swap");

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$primary: #d81324;
$secondary: #0b2154;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
// 5. Add additional custom code here
$custom_sky_blue: #25abe1;

* {
  font-family: "Barlow", sans-serif;
}
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
    "custom_sky_blue": $custom_sky_blue,
  )
);

.nav-link {
  font-size: 14px;
}
.nav-img {
  width: 100px;
}
.description {
  p {
    font-size: 12px;
    width: 75%;
  }
}
.arong {
  border-radius: 2px;
  // .card {
  // }
  padding: 5px;
  img {
    width: 100%;
  }
}
.arong img::hover {
  cursor: pointer;
}

// Index html

.carousel-item {
  .description {
    margin-top: 5rem;
  }
}

.service {
  .card {
    margin-top: 1rem;
  }
}

.hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.hover:hover .card {
  background-color: rgba(0, 0, 0, 0.8);
}
.hover:hover .card-body {
  display: block;
  opacity: 1;
}
// .test::hover .card-text {
//   cursor: pointer;
//   display: block;
//   opacity: 1;
//   background-color: rgba(0, 0, 0, 1);
// }

// Services Section
.service {
  img {
    width: 100px;
  }
  .card-body {
    cursor: pointer;
  }
}
.service-item {
  h5 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
    text-align: start;
  }
}

// Footer
footer {
  .nav-link {
    color: white;
  }
  .footer-add {
    p {
      font-size: 12px;
      padding: 0;
      margin-top: -5px;
    }
  }
}

// abouts Us section
.iframePadding {
  -moz-border-radius: 3%;
  -webkit-border-radius: 3%;
  border-radius: 3%;
  overflow: hidden;
  position: relative;
}

// Beginning Section
.beginning {
  img {
    margin-top: 10px;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    color: #0f1217;
  }
  p {
    color: #535457;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
  }
}

// Service_Page

.service-card {
  .col-md-4 {
    padding: 5px;
    height: 100%;
    p {
      padding: 5px;
    }
  }
}

#number_section {
  width: 100%;
}

nav {
  background-color: transparent;
  transition: background-color 0.5s ease;
}

nav.navbar-scrolled {
  background-color: rgba(30, 67, 86, 0.8);
}

// Blog.html
.blog-text {
  h2 {
    font-size: 45px;
    font-weight: 700;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
 nav{
  background-color: rgba(30, 67, 86, 0.9);
 }
  .navbar-toggler {
    background-color: oldlace !important;
  }
}
